@charset "utf-8";
/* CSS Document */

body {
	font-family: "Times New Roman", Times, Georgia, serif;
	background-color: #cbcfd0 ;
	width: 960px;
	margin: auto;
}

/*Upper tabs-----------------------------------------------------------------------------------------------------------------------*/


div#tabs {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	overflow: hidden;
}

div#tabs ul {
	margin: 0;
}

div#tabs ul li {
	display: block;
	margin: 0  ;
	padding: 5px 15px;
	float: left;
	border: none;
}

div#tabs ul a {
  font-size: 18px;
  text-transform: uppercase;
  overflow: hidden;
}

a {
	color: black;
}

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
}

/*Header------------------------------------------------------------------------------------------------------*/
h1 {
	font-weight: 500;
    font-family: "Courier New", Courier, monospace;
	color: #626277;
	text-align: center;
    line-height: 80px;
	font-size: 50px;
}

#heading {
	background-color: #F1F6E8;
	clear: left;
	width: 960px;
    font-family: simsun;
	border: medium black solid;
	color: black;
	text-align: center;
	margin: auto;
    height: 155px;
	background-image: url(../pictures/cognitionclub.png);
    line-height: 20px;
	background-repeat: no-repeat;
}


/*container for 2 columns-----------------------------------------------------------------------------------*/
#container {

	background-image: url(../pictures/columnback2.png);
	background-repeat: repeat-y;
	overflow: hidden;
	margin: 10px 0 30px 0;
	border-right: medium #fcfcfa solid;
	width: 960px;
}

/*Tabs for under header instead of sidelinks*/
div#tabsunder {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	overflow: hidden;
}

#tabsunder li {
	margin: .25em 0 .25em 0 ;
	padding: .25em 1em .25em 2em ;
	border: medium white solid;
	list-style-type: none;
}

/*Side column of links and pictures-------------------------------------------------------------------------*/


ul.sidelinks {
	font-size: 16px;
	clear: left;
	float: left;
	width: 200px;
	margin: 0 0px 0 0px;
	padding: 0 10px 0 0;
	background-color: #cbcfd0 ;
	font-weight: bold;
}

.sidelinks li {
	margin: .25em 0 .25em 0 ;
	padding: .25em 1em .25em 2em ;
	border: medium white solid;
	list-style-type: none;
}

div.parchlinks li {
	border: none;
	background-repeat: no-repeat;
	padding: 10px;
	width: 190px;
	height: 45px;
	margin: 5px 0 0 0;
	text-align: center;
	background-image: url(../pictures/parchment.png);
	line-height: 22px;
}

div.parchlinks a {
	font-family:  "Courier New", Courier, monospace;
	color: #626277;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

div.parchlinks a:hover {
	color: blue;
}

li.divider {
	border: medium black solid;
	background-color: black;
	color: white;
	padding: 0;
}

.sidelinks li.art {
	border: none ;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.sidelinks figure {
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.sidelinks li.photo {
	border: medium white solid;
	margin: 0 0 0 0;
	padding: 5px 7px 2px 7px;
    background-color: black;
}

ul figcaption {
    text-align: center;
}

/*Main column of content------------------------------------------------------------------------------*/
#col2 {
	line-height: 1.5em;
	float: left;
	margin: 0 0 30px 0;
	padding: 15px 15px 0 35px;
	width: 700px;
}

#col2 ul {
	margin: 0;
}

h4 {
	margin: 10px;
}

p {
	text-indent: 2.5em;
	font-size: 12pt;
}

p#logo {
	clear: left;
}

blockquote {
	font-size: 12pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a.picture#logo img {
	float: right;
	margin: .75em 0 0;
	padding: 0 0 0 0;
	background: #88949b;
}

/*main page fancy list*/
ul.bullets {
	border: none;
}

.bullets li {
	font-size: 12pt;
	border: none;
}

/*styles for hover text popups*/
a.hideDisplay {
	color: #3366CC
}

a.hideDisplay:hover{
 /* Allows you to layer overlapping elements. */
	z-index: 30;
}

a.hideDisplay span.showDisplayOnHover{
	display: none
}

/* This will only display itself when the
 * user hovers the mouse over the anchor. */
a.hideDisplay:hover span.showDisplayOnHover{
	display: block;
	position: relative;
	font-size: 18px;
	/* This sets the height of a line of text in the box. */
	line-height: 25px;

	/* These position the box where it needs to go. */
	top: 5px;
	left: 20px;
	/* These adjust the size of the box when it appears. */
	width: auto;
	padding: 10px;

	border: 1px solid #666666;
	background-color: #c0cedd;

	/* text color */
	color: #000000;
	text-align: left;
}

/*germature paragraphs*/
p.germ {
	font-size: 12pt;
	margin: 5px 50px;
}

/*list navigation buttons--------------------------------------------------------------------------*/
/* brushed stainless button */
li.white {
	border: none;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 10px;
	width: 180px;
	height: 45px;
	margin: 5px 0 0 0;
	text-align: center;
	background-image: url(../pictures/recbutton2.png);
	line-height: 22px;
	list-style-type: none;
}

li.white a {
	font-family:  "Courier New", Courier, monospace;
	color: #626277

}

li.white a:hover {
	color: blue;
}

/*parchment button---------------------------------------------------------------------------*/
li.parchment {
	border: none;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 10px;
	width: 190px;
	height: 45px;
	margin: 5px 0 0 0;
	text-align: center;
	background-image: url(../pictures/parchment.png);
	line-height: 22px;
	list-style-type: none;
}

li.parchment a {
	font-family:  "Courier New", Courier, monospace;
	color: #626277;
	padding: 0;
	margin: 0;
}

li.parchment a:hover {
	color: blue;
}
