<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style2.css" type="text/css" />
</head>
<body>
<div id = "heading"> <br>
    <span style= "font-size: 35px">Corpus Analytics</span> <br>
</div>

<div id = "container">
    <h2>Top 30 LDA Key Phrases by year</h2>
    <object width="960px" height="600px" data="/static/lda_time.pdf"></object>
    <h2>Top 30 TF-IDF Key Phrases by year</h2>
    <object width="960px" height="600px" data="/static/tfidf_time.pdf"></object>
    <h2>Top 30 LDA Key Phrases</h2>
    <object width="960px" height="600px" data="/static/lda_global.pdf"></object>
    <h2>Top 30 TF-IDF Key Phrases</h2>
    <object width="960px" height="600px" data="/static/tfidf_global.pdf"></object>
    <h2>Top 30 RAKE Key Phrases</h2>
    <object width="960px" height="600px" data="/static/rake_global.pdf"></object>
    <h2>Top 30 Text Rank Key Phrases</h2>
    <object width="960px" height="600px" data="/static/textrank_global.pdf"></object>
</div>
</body>
</html>