{% extends "template.html" %} {% block title %}Login{% endblock %} {% block
content %}
<div class="container auth-card grid-xl">
  <div class="columns">
    <div class="column col-4 col-mx-auto card">
      <div class="card-body">
        <h2 class="text-center">Login</h2>
        <form
          action="{{ url_for('login_post') }}"
          method="post"
          class="form-group"
        >
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="text-success text-center">{{ messages[0] }}</div>
          {% endif %} {% endwith %}
          <label class="form-label" for="username">Username</label>
          <input
            class="form-input"
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
          <label class="form-label" for="password">Password</label>
          <input
            class="form-input"
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <div class="text-error text-center">{{ error }}</div>
          <div class="text-center auth-btn">
            <input
              type="submit"
              value="Login"
              id="submit"
              class="btn btn-primary"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
