<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Key Phrase: Text Rank</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>vulnerable adversarial example</td>
      <td>0.147765</td>
    </tr>
    <tr>
      <th>1</th>
      <td>attacker restrict</td>
      <td>0.127711</td>
    </tr>
    <tr>
      <th>2</th>
      <td>existence robust</td>
      <td>0.095672</td>
    </tr>
    <tr>
      <th>3</th>
      <td>adversary access underlying</td>
      <td>0.092814</td>
    </tr>
    <tr>
      <th>4</th>
      <td>train subset dataset</td>
      <td>0.090718</td>
    </tr>
    <tr>
      <th>5</th>
      <td>machine learning</td>
      <td>0.087259</td>
    </tr>
    <tr>
      <th>6</th>
      <td>variety medical imaging</td>
      <td>0.083123</td>
    </tr>
    <tr>
      <th>7</th>
      <td>robustness reduce</td>
      <td>0.080361</td>
    </tr>
    <tr>
      <th>8</th>
      <td>conditional generative</td>
      <td>0.067095</td>
    </tr>
    <tr>
      <th>9</th>
      <td>input output mapping</td>
      <td>0.063550</td>
    </tr>
    <tr>
      <th>10</th>
      <td>typically construct perturb existing</td>
      <td>0.062848</td>
    </tr>
    <tr>
      <th>11</th>
      <td>classify incorrectly</td>
      <td>0.061438</td>
    </tr>
    <tr>
      <th>12</th>
      <td>important problem</td>
      <td>0.061117</td>
    </tr>
    <tr>
      <th>13</th>
      <td>base pattern</td>
      <td>0.060207</td>
    </tr>
    <tr>
      <th>14</th>
      <td>recent study</td>
      <td>0.060165</td>
    </tr>
    <tr>
      <th>15</th>
      <td>recognition task paper</td>
      <td>0.059603</td>
    </tr>
    <tr>
      <th>16</th>
      <td>concern perform</td>
      <td>0.055877</td>
    </tr>
    <tr>
      <th>17</th>
      <td>measure classification accuracy</td>
      <td>0.054803</td>
    </tr>
    <tr>
      <th>18</th>
      <td>datum modify slightly</td>
      <td>0.051233</td>
    </tr>
    <tr>
      <th>19</th>
      <td>propose synthesize realistic</td>
      <td>0.050986</td>
    </tr>
    <tr>
      <th>20</th>
      <td>object exist real world</td>
      <td>0.049673</td>
    </tr>
    <tr>
      <th>21</th>
      <td>defensive distillation</td>
      <td>0.048211</td>
    </tr>
    <tr>
      <th>22</th>
      <td>computationally efficient</td>
      <td>0.047401</td>
    </tr>
    <tr>
      <th>23</th>
      <td>prediction error</td>
      <td>0.046980</td>
    </tr>
    <tr>
      <th>24</th>
      <td>security non</td>
      <td>0.044806</td>
    </tr>
    <tr>
      <th>25</th>
      <td>semantic information</td>
      <td>0.044471</td>
    </tr>
    <tr>
      <th>26</th>
      <td>specific nature</td>
      <td>0.042768</td>
    </tr>
    <tr>
      <th>27</th>
      <td>defense attempt create</td>
      <td>0.042625</td>
    </tr>
    <tr>
      <th>28</th>
      <td>parameter gradient</td>
      <td>0.041825</td>
    </tr>
    <tr>
      <th>29</th>
      <td>free set additive term</td>
      <td>0.040437</td>
    </tr>
    <tr>
      <th>30</th>
      <td>pron goal</td>
      <td>0.039135</td>
    </tr>
    <tr>
      <th>31</th>
      <td>knowledge transfer</td>
      <td>0.039117</td>
    </tr>
    <tr>
      <th>32</th>
      <td>effective bad furthermore</td>
      <td>0.038780</td>
    </tr>
    <tr>
      <th>33</th>
      <td>evaluate safety</td>
      <td>0.038697</td>
    </tr>
    <tr>
      <th>34</th>
      <td>researcher develop</td>
      <td>0.038531</td>
    </tr>
    <tr>
      <th>35</th>
      <td>extensive experiment</td>
      <td>0.036988</td>
    </tr>
    <tr>
      <th>36</th>
      <td>generally offer</td>
      <td>0.036943</td>
    </tr>
    <tr>
      <th>37</th>
      <td>computational implementation</td>
      <td>0.035700</td>
    </tr>
    <tr>
      <th>38</th>
      <td>informative baseline</td>
      <td>0.035568</td>
    </tr>
    <tr>
      <th>39</th>
      <td>large fraction</td>
      <td>0.035321</td>
    </tr>
    <tr>
      <th>40</th>
      <td>choose distribution</td>
      <td>0.035041</td>
    </tr>
    <tr>
      <th>41</th>
      <td>degree improve</td>
      <td>0.034711</td>
    </tr>
    <tr>
      <th>42</th>
      <td>consistently fool</td>
      <td>0.034536</td>
    </tr>
    <tr>
      <th>43</th>
      <td>suggest space</td>
      <td>0.033902</td>
    </tr>
    <tr>
      <th>44</th>
      <td>require collect</td>
      <td>0.033443</td>
    </tr>
    <tr>
      <th>45</th>
      <td>imperceptibly original</td>
      <td>0.032621</td>
    </tr>
    <tr>
      <th>46</th>
      <td>limitation current</td>
      <td>0.032176</td>
    </tr>
    <tr>
      <th>47</th>
      <td>arbitrary malicious target hide</td>
      <td>0.031794</td>
    </tr>
    <tr>
      <th>48</th>
      <td>len distributionally</td>
      <td>0.031337</td>
    </tr>
    <tr>
      <th>49</th>
      <td>successful distil</td>
      <td>0.031117</td>
    </tr>
    <tr>
      <th>50</th>
      <td>depth analysis transferability</td>
      <td>0.030897</td>
    </tr>
    <tr>
      <th>51</th>
      <td>labeling criterion</td>
      <td>0.030526</td>
    </tr>
    <tr>
      <th>52</th>
      <td>minimal loss</td>
      <td>0.030351</td>
    </tr>
    <tr>
      <th>53</th>
      <td>point small matrix norm</td>
      <td>0.029644</td>
    </tr>
    <tr>
      <th>54</th>
      <td>processing compression</td>
      <td>0.028953</td>
    </tr>
    <tr>
      <th>55</th>
      <td>variational functional</td>
      <td>0.028694</td>
    </tr>
    <tr>
      <th>56</th>
      <td>manipulation exploration</td>
      <td>0.028249</td>
    </tr>
    <tr>
      <th>57</th>
      <td>systematic general purpose</td>
      <td>0.027957</td>
    </tr>
    <tr>
      <th>58</th>
      <td>significance discover</td>
      <td>0.027341</td>
    </tr>
    <tr>
      <th>59</th>
      <td>discrimination final</td>
      <td>0.027324</td>
    </tr>
    <tr>
      <th>60</th>
      <td>observe maximal</td>
      <td>0.027308</td>
    </tr>
    <tr>
      <th>61</th>
      <td>node additional</td>
      <td>0.027069</td>
    </tr>
    <tr>
      <th>62</th>
      <td>strategy selection</td>
      <td>0.026992</td>
    </tr>
    <tr>
      <th>63</th>
      <td>direction topic</td>
      <td>0.026967</td>
    </tr>
    <tr>
      <th>64</th>
      <td>black box</td>
      <td>0.026111</td>
    </tr>
    <tr>
      <th>65</th>
      <td>diverse potentially</td>
      <td>0.026049</td>
    </tr>
    <tr>
      <th>66</th>
      <td>naturally occur</td>
      <td>0.025934</td>
    </tr>
    <tr>
      <th>67</th>
      <td>significant extend</td>
      <td>0.025640</td>
    </tr>
    <tr>
      <th>68</th>
      <td>operate physical</td>
      <td>0.025521</td>
    </tr>
    <tr>
      <th>69</th>
      <td>computing embed accelerator</td>
      <td>0.024831</td>
    </tr>
    <tr>
      <th>70</th>
      <td>business increasingly</td>
      <td>0.024567</td>
    </tr>
    <tr>
      <th>71</th>
      <td>exploit randomization obfuscate</td>
      <td>0.024397</td>
    </tr>
    <tr>
      <th>72</th>
      <td>assign incorrect label</td>
      <td>0.024309</td>
    </tr>
    <tr>
      <th>73</th>
      <td>future challenge</td>
      <td>0.024142</td>
    </tr>
    <tr>
      <th>74</th>
      <td>case modification</td>
      <td>0.023999</td>
    </tr>
    <tr>
      <th>75</th>
      <td>statistical estimation</td>
      <td>0.023714</td>
    </tr>
    <tr>
      <th>76</th>
      <td>observer notice</td>
      <td>0.023508</td>
    </tr>
    <tr>
      <th>77</th>
      <td>sensitivity depend</td>
      <td>0.023191</td>
    </tr>
    <tr>
      <th>78</th>
      <td>allow pixel</td>
      <td>0.023133</td>
    </tr>
    <tr>
      <th>79</th>
      <td>physically implementable</td>
      <td>0.023128</td>
    </tr>
    <tr>
      <th>80</th>
      <td>add slight</td>
      <td>0.023021</td>
    </tr>
    <tr>
      <th>81</th>
      <td>low flexibility</td>
      <td>0.022695</td>
    </tr>
    <tr>
      <th>82</th>
      <td>countermeasure investigate research field</td>
      <td>0.022685</td>
    </tr>
    <tr>
      <th>83</th>
      <td>highlight common</td>
      <td>0.022552</td>
    </tr>
    <tr>
      <th>84</th>
      <td>remain limited systematize</td>
      <td>0.021874</td>
    </tr>
    <tr>
      <th>85</th>
      <td>augmentation utilization</td>
      <td>0.021778</td>
    </tr>
    <tr>
      <th>86</th>
      <td>accurate estimate</td>
      <td>0.021669</td>
    </tr>
    <tr>
      <th>87</th>
      <td>bypass strong</td>
      <td>0.021095</td>
    </tr>
    <tr>
      <th>88</th>
      <td>solution counter intuitive property</td>
      <td>0.020606</td>
    </tr>
    <tr>
      <th>89</th>
      <td>m wide</td>
      <td>0.020574</td>
    </tr>
    <tr>
      <th>90</th>
      <td>order avoid</td>
      <td>0.020328</td>
    </tr>
    <tr>
      <th>91</th>
      <td>define end discuss</td>
      <td>0.020139</td>
    </tr>
    <tr>
      <th>92</th>
      <td>average maximization operation</td>
      <td>0.019848</td>
    </tr>
    <tr>
      <th>93</th>
      <td>scale near</td>
      <td>0.019465</td>
    </tr>
    <tr>
      <th>94</th>
      <td>structural element</td>
      <td>0.019429</td>
    </tr>
    <tr>
      <th>95</th>
      <td>convex activation</td>
      <td>0.018924</td>
    </tr>
    <tr>
      <th>96</th>
      <td>iterative filtering</td>
      <td>0.018741</td>
    </tr>
    <tr>
      <th>97</th>
      <td>misclassification failure</td>
      <td>0.018683</td>
    </tr>
    <tr>
      <th>98</th>
      <td>interested deploying</td>
      <td>0.018629</td>
    </tr>
    <tr>
      <th>99</th>
      <td>broad deployment</td>
      <td>0.018595</td>
    </tr>
    <tr>
      <th>100</th>
      <td>capability solve</td>
      <td>0.018407</td>
    </tr>
    <tr>
      <th>101</th>
      <td>critically lacking</td>
      <td>0.018289</td>
    </tr>
    <tr>
      <th>102</th>
      <td>theoretical formulation</td>
      <td>0.018081</td>
    </tr>
    <tr>
      <th>103</th>
      <td>supervision supervised</td>
      <td>0.018070</td>
    </tr>
    <tr>
      <th>104</th>
      <td>prove extremely</td>
      <td>0.018033</td>
    </tr>
    <tr>
      <th>105</th>
      <td>iterate converge</td>
      <td>0.018017</td>
    </tr>
    <tr>
      <th>106</th>
      <td>perceptible completely</td>
      <td>0.017687</td>
    </tr>
    <tr>
      <th>107</th>
      <td>key insight</td>
      <td>0.017641</td>
    </tr>
    <tr>
      <th>108</th>
      <td>privacy need</td>
      <td>0.017399</td>
    </tr>
    <tr>
      <th>109</th>
      <td>signal camera</td>
      <td>0.016727</td>
    </tr>
    <tr>
      <th>110</th>
      <td>precisely abiliti</td>
      <td>0.016548</td>
    </tr>
    <tr>
      <th>111</th>
      <td>dnn recommend</td>
      <td>0.016507</td>
    </tr>
    <tr>
      <th>112</th>
      <td>open issue</td>
      <td>0.016480</td>
    </tr>
    <tr>
      <th>113</th>
      <td>review main threat</td>
      <td>0.016320</td>
    </tr>
    <tr>
      <th>114</th>
      <td>inherent weakness</td>
      <td>0.015680</td>
    </tr>
    <tr>
      <th>115</th>
      <td>reliable sense universal</td>
      <td>0.015513</td>
    </tr>
    <tr>
      <th>116</th>
      <td>attention autonomous driving community</td>
      <td>0.015434</td>
    </tr>
    <tr>
      <th>117</th>
      <td>involve rely</td>
      <td>0.015145</td>
    </tr>
    <tr>
      <th>118</th>
      <td>weight suppress</td>
      <td>0.014929</td>
    </tr>
    <tr>
      <th>119</th>
      <td>bind true</td>
      <td>0.014519</td>
    </tr>
    <tr>
      <th>120</th>
      <td>search latent</td>
      <td>0.014517</td>
    </tr>
    <tr>
      <th>121</th>
      <td>pool prior</td>
      <td>0.014427</td>
    </tr>
    <tr>
      <th>122</th>
      <td>related variant intrinsically</td>
      <td>0.014353</td>
    </tr>
    <tr>
      <th>123</th>
      <td>boundary fundamental</td>
      <td>0.014313</td>
    </tr>
    <tr>
      <th>124</th>
      <td>agnostic view</td>
      <td>0.014231</td>
    </tr>
    <tr>
      <th>125</th>
      <td>individually collectively</td>
      <td>0.013680</td>
    </tr>
    <tr>
      <th>126</th>
      <td>verification validation</td>
      <td>0.013487</td>
    </tr>
    <tr>
      <th>127</th>
      <td>pass verified</td>
      <td>0.013434</td>
    </tr>
    <tr>
      <th>128</th>
      <td>predictor verifi</td>
      <td>0.013431</td>
    </tr>
    <tr>
      <th>129</th>
      <td>interesting connection</td>
      <td>0.013403</td>
    </tr>
    <tr>
      <th>130</th>
      <td>spatial smoothing</td>
      <td>0.013375</td>
    </tr>
    <tr>
      <th>131</th>
      <td>dependency numerous</td>
      <td>0.013287</td>
    </tr>
    <tr>
      <th>132</th>
      <td>differentiable jointly</td>
      <td>0.013219</td>
    </tr>
    <tr>
      <th>133</th>
      <td>manner account</td>
      <td>0.013196</td>
    </tr>
    <tr>
      <th>134</th>
      <td>motivation constraint</td>
      <td>0.013081</td>
    </tr>
    <tr>
      <th>135</th>
      <td>renderer mislead</td>
      <td>0.012977</td>
    </tr>
    <tr>
      <th>136</th>
      <td>variation perception underlie</td>
      <td>0.012911</td>
    </tr>
    <tr>
      <th>137</th>
      <td>fast stable</td>
      <td>0.012891</td>
    </tr>
    <tr>
      <th>138</th>
      <td>provable convergence</td>
      <td>0.012753</td>
    </tr>
    <tr>
      <th>139</th>
      <td>date consider</td>
      <td>0.012410</td>
    </tr>
    <tr>
      <th>140</th>
      <td>drive car</td>
      <td>0.011986</td>
    </tr>
    <tr>
      <th>141</th>
      <td>quantitatively impact</td>
      <td>0.011940</td>
    </tr>
    <tr>
      <th>142</th>
      <td>contributing factor difficulty</td>
      <td>0.011637</td>
    </tr>
    <tr>
      <th>143</th>
      <td>sentence automatically</td>
      <td>0.011600</td>
    </tr>
    <tr>
      <th>144</th>
      <td>precision counterpart</td>
      <td>0.011545</td>
    </tr>
    <tr>
      <th>145</th>
      <td>theory explain</td>
      <td>0.011398</td>
    </tr>
    <tr>
      <th>146</th>
      <td>fully resistant</td>
      <td>0.011320</td>
    </tr>
    <tr>
      <th>147</th>
      <td>reasoning causal</td>
      <td>0.011295</td>
    </tr>
    <tr>
      <th>148</th>
      <td>edge device</td>
      <td>0.011165</td>
    </tr>
    <tr>
      <th>149</th>
      <td>degrade r</td>
      <td>0.011158</td>
    </tr>
    <tr>
      <th>150</th>
      <td>intent cause</td>
      <td>0.011066</td>
    </tr>
    <tr>
      <th>151</th>
      <td>guide intuition</td>
      <td>0.011063</td>
    </tr>
    <tr>
      <th>152</th>
      <td>mean tackle</td>
      <td>0.011031</td>
    </tr>
    <tr>
      <th>153</th>
      <td>help prevent</td>
      <td>0.011007</td>
    </tr>
    <tr>
      <th>154</th>
      <td>crop validate</td>
      <td>0.010880</td>
    </tr>
    <tr>
      <th>155</th>
      <td>area year start</td>
      <td>0.010637</td>
    </tr>
    <tr>
      <th>156</th>
      <td>topology pre</td>
      <td>0.010343</td>
    </tr>
    <tr>
      <th>157</th>
      <td>fine tune</td>
      <td>0.009930</td>
    </tr>
    <tr>
      <th>158</th>
      <td>generic flexible</td>
      <td>0.009790</td>
    </tr>
    <tr>
      <th>159</th>
      <td>parametrize explicitly</td>
      <td>0.009707</td>
    </tr>
    <tr>
      <th>160</th>
      <td>explicit parametrization</td>
      <td>0.009707</td>
    </tr>
    <tr>
      <th>161</th>
      <td>location category</td>
      <td>0.009542</td>
    </tr>
    <tr>
      <th>162</th>
      <td>identical rule</td>
      <td>0.009509</td>
    </tr>
    <tr>
      <th>163</th>
      <td>threshold advance</td>
      <td>0.009001</td>
    </tr>
    <tr>
      <th>164</th>
      <td>cross spectral</td>
      <td>0.008652</td>
    </tr>
    <tr>
      <th>165</th>
      <td>propagation fake</td>
      <td>0.008407</td>
    </tr>
    <tr>
      <th>166</th>
      <td>retrain recover</td>
      <td>0.008179</td>
    </tr>
    <tr>
      <th>167</th>
      <td>topological geometrical</td>
      <td>0.008160</td>
    </tr>
    <tr>
      <th>168</th>
      <td>artificial intelligence</td>
      <td>0.008039</td>
    </tr>
    <tr>
      <th>169</th>
      <td>indistinguishability act</td>
      <td>0.007845</td>
    </tr>
    <tr>
      <th>170</th>
      <td>nonlinearity overfitt</td>
      <td>0.007392</td>
    </tr>
    <tr>
      <th>171</th>
      <td>epsilon consume huge resource</td>
      <td>0.006824</td>
    </tr>
    <tr>
      <th>172</th>
      <td>leak excessive</td>
      <td>0.006562</td>
    </tr>
  </tbody>
</table>