/* Header */
header {
  padding-top: 0.5rem;
}
.nav-btn {
  margin-right: 1rem;
}

/* Login & Register Pages */
.auth-card {
  margin-top: 10rem;
}

.auth-btn {
  margin-top: 0.8rem;
}

/* Main Page */
main {
  margin-top: 90px;
}

#banner_child {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

#qfield {
  width: calc(80% - 34px);
  padding-left: 5px;
}

#sbox {
  text-align: center;
  margin-top: 5px;
}

#pagebar {
  width: 80%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

#prev_next {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Account Page */
.account-wrapper {
  margin-top: 5rem;
}

.account-wrapper button {
  margin-top: 0.3rem;
}

.account-wrapper h5 {
  margin-top: 1rem;
}

.account-wrapper .column {
  margin-bottom: 1rem;
}

.leave-btn {
  margin-left: auto;
}

#edit-projects {
  display: none !important;
}
