/* Header */
header {
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 2rem;
}
.nav-btn {
  margin-right: 1rem;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.navbar-brand span {
  font-size: 1rem;
}

/* Login & Register Pages */
.auth-card {
  margin-top: 10rem;
}

.auth-btn {
  margin-top: 0.8rem;
}

/* Main Page */
main {
  margin-top: 90px;
}

#qfield {
  width: calc(80% - 34px);
  padding-left: 5px;
}

#sbox {
  text-align: center;
  margin-top: 5px;
}

#pagebar {
  width: 80%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  margin-top: 25px;
}

#prev_next {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card {
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  padding: 1rem;
  border: 0;
}

.publish_date {
  margin-right: 1rem;
  font-weight: bold;
}

.version1_date {
  font-weight: normal;
}

.metadata {
  padding-bottom: 10px;
}

/* Account Page */
.account-wrapper button {
  margin-top: 0.3rem;
}

.account-wrapper h5 {
  margin-top: 1rem;
}

.account-wrapper .column {
  margin-bottom: 1rem;
}

.leave-btn {
  margin-left: auto;
}

#edit-projects {
  display: none !important;
}
