/* Header */
header {
  padding-top: 0.5rem;
}
.nav-btn {
  margin-right: 1rem;
}

/* Login & Register Pages */
.auth-card {
  margin-top: 10rem;
}

.auth-btn {
  margin-top: 0.8rem;
}

/* Main Page */
main {
  margin-top: 90px;
}

/* Account Page */
.account-wrapper {
  margin-top: 5rem;
}

.account-wrapper button {
  margin-top: 0.3rem;
}

.account-wrapper h5 {
  margin-top: 1rem;
}

.account-wrapper .column {
  margin-bottom: 1rem;
}

.leave-btn {
  margin-left: auto;
}

#edit-projects {
  display: none !important;
}
