<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />

    <title>{% block title %}{% endblock %} - POLAR</title>
  </head>
  <body>
    <header class="navbar container grid-xl">
      <section class="navbar-section">
        <a href="{{ url_for('intmain') }}" class="navbar-brand mr-10">POLAR</a>
      </section>
      <section class="navbar-section">
        <!-- Eventually this will be conditional, depending on login state -->
        <a href="{{ url_for('login') }}" class="btn btn-link text-large"
          >Login</a
        >
        <a href="..." class="btn btn-link text-large">Register</a>
      </section>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
