<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Venue</th>
      <th>Publications</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ArXiv</td>
      <td>334</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>60</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ICLR</td>
      <td>26</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NeurIPS</td>
      <td>16</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018 IEEE/CVF Conference on Computer Vision and Pattern Recognition</td>
      <td>15</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ECCV</td>
      <td>11</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ICLR 2018</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AAAI 2019</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2017 IEEE International Conference on Computer Vision (ICCV)</td>
      <td>6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ICML</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>AAAI</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>IJCAI</td>
      <td>5</td>
    </tr>
    <tr>
      <th>12</th>
      <td>NIPS</td>
      <td>4</td>
    </tr>
    <tr>
      <th>13</th>
      <td>GameSec</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <td>USENIX Security Symposium</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <td>ACM Conference on Computer and Communications Security</td>
      <td>4</td>
    </tr>
    <tr>
      <th>16</th>
      <td>AISec@CCS</td>
      <td>4</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Nemesis/UrbReas/SoGood/IWAISe/GDM@PKDD/ECML</td>
      <td>3</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018 IEEE Security and Privacy Workshops (SPW)</td>
      <td>3</td>
    </tr>
    <tr>
      <th>19</th>
      <td>ECCV Workshops</td>
      <td>3</td>
    </tr>
    <tr>
      <th>20</th>
      <td>BMVC</td>
      <td>3</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2017 IEEE Symposium on Security and Privacy (SP)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2016 IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>UAI</td>
      <td>2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>SafeAI@AAAI</td>
      <td>2</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018 IEEE Computer Society Annual Symposium on VLSI (ISVLSI)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018 International Joint Conference on Neural Networks (IJCNN)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>27</th>
      <td>MLCN/DLF/iMIMIC@MICCAI</td>
      <td>2</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018 26th European Signal Processing Conference (EUSIPCO)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018 IEEE/CVF Conference on Computer Vision and Pattern Recognition Workshops (CVPRW)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>30</th>
      <td>2016 15th IEEE International Conference on Machine Learning and Applications (ICMLA)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>31</th>
      <td>2019 IEEE Winter Conference on Applications of Computer Vision (WACV)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>32</th>
      <td>2017 IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</td>
      <td>2</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Pattern Recognition</td>
      <td>1</td>
    </tr>
    <tr>
      <th>34</th>
      <td>2016 IEEE European Symposium on Security and Privacy (EuroS&amp;P)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>35</th>
      <td>IEEE Access</td>
      <td>1</td>
    </tr>
    <tr>
      <th>36</th>
      <td>IEEE Transactions on Neural Networks and Learning Systems</td>
      <td>1</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Wiley Interdiscip. Rev. Data Min. Knowl. Discov.</td>
      <td>1</td>
    </tr>
    <tr>
      <th>38</th>
      <td>AAMAS</td>
      <td>1</td>
    </tr>
    <tr>
      <th>39</th>
      <td>IEEE Transactions on Information Forensics and Security</td>
      <td>1</td>
    </tr>
    <tr>
      <th>40</th>
      <td>2018 IEEE Winter Conference on Applications of Computer Vision (WACV)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Machine Learning</td>
      <td>1</td>
    </tr>
    <tr>
      <th>42</th>
      <td>CAV</td>
      <td>1</td>
    </tr>
    <tr>
      <th>43</th>
      <td>FVAV@iFM</td>
      <td>1</td>
    </tr>
    <tr>
      <th>44</th>
      <td>IEEE transactions on pattern analysis and machine intelligence</td>
      <td>1</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2018 IEEE 3rd International Conference on Signal and Image Processing (ICSIP)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>46</th>
      <td>2018 IEEE 31st Computer Security Foundations Symposium (CSF)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>47</th>
      <td>IJSN</td>
      <td>1</td>
    </tr>
    <tr>
      <th>48</th>
      <td>2015 IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>49</th>
      <td>EMNLP</td>
      <td>1</td>
    </tr>
    <tr>
      <th>50</th>
      <td>MILCOM 2016 - 2016 IEEE Military Communications Conference</td>
      <td>1</td>
    </tr>
    <tr>
      <th>51</th>
      <td>AAAI Workshops</td>
      <td>1</td>
    </tr>
    <tr>
      <th>52</th>
      <td>NDSS</td>
      <td>1</td>
    </tr>
    <tr>
      <th>53</th>
      <td>WOOT</td>
      <td>1</td>
    </tr>
    <tr>
      <th>54</th>
      <td>ROCLING</td>
      <td>1</td>
    </tr>
    <tr>
      <th>55</th>
      <td>NAACL-HLT</td>
      <td>1</td>
    </tr>
    <tr>
      <th>56</th>
      <td>2016 IEEE Symposium on Security and Privacy (SP)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>57</th>
      <td>DS</td>
      <td>1</td>
    </tr>
    <tr>
      <th>58</th>
      <td>2014 IEEE 55th Annual Symposium on Foundations of Computer Science</td>
      <td>1</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Journal of Machine Learning Research</td>
      <td>1</td>
    </tr>
    <tr>
      <th>60</th>
      <td>SIGMETRICS</td>
      <td>1</td>
    </tr>
    <tr>
      <th>61</th>
      <td>International Journal of Multimedia Information Retrieval</td>
      <td>1</td>
    </tr>
    <tr>
      <th>62</th>
      <td>RAID</td>
      <td>1</td>
    </tr>
    <tr>
      <th>63</th>
      <td>KDD</td>
      <td>1</td>
    </tr>
    <tr>
      <th>64</th>
      <td>IACR Cryptology ePrint Archive</td>
      <td>1</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Nature Communications</td>
      <td>1</td>
    </tr>
    <tr>
      <th>66</th>
      <td>AAAI Fall Symposium: ALEC</td>
      <td>1</td>
    </tr>
    <tr>
      <th>67</th>
      <td>WOOT @ USENIX Security Symposium</td>
      <td>1</td>
    </tr>
    <tr>
      <th>68</th>
      <td>2018 IEEE Global Conference on Signal and Information Processing (GlobalSIP)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>69</th>
      <td>ICCAD</td>
      <td>1</td>
    </tr>
    <tr>
      <th>70</th>
      <td>IEEE transactions on neural networks and learning systems</td>
      <td>1</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2017 IEEE International Joint Conference on Biometrics (IJCB)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2018 IEEE 20th International Workshop on Multimedia Signal Processing (MMSP)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>73</th>
      <td>SIGSPATIAL/GIS</td>
      <td>1</td>
    </tr>
    <tr>
      <th>74</th>
      <td>ACL</td>
      <td>1</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2018 48th Annual IEEE/IFIP International Conference on Dependable Systems and Networks Workshops...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2017 IEEE Conference on Computer Vision and Pattern Recognition Workshops (CVPRW)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>77</th>
      <td>ACM Multimedia</td>
      <td>1</td>
    </tr>
    <tr>
      <th>78</th>
      <td>TACAS</td>
      <td>1</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2017 16th IEEE International Conference on Machine Learning and Applications (ICMLA)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2016 23rd International Conference on Pattern Recognition (ICPR)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2016 IEEE Conference on Computer Vision and Pattern Recognition Workshops (CVPRW)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>82</th>
      <td>COLING</td>
      <td>1</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2018 Data Compression Conference</td>
      <td>1</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Neural Computation</td>
      <td>1</td>
    </tr>
    <tr>
      <th>85</th>
      <td>ECML/PKDD</td>
      <td>1</td>
    </tr>
    <tr>
      <th>86</th>
      <td>IPSJ Transactions on Computer Vision and Applications</td>
      <td>1</td>
    </tr>
    <tr>
      <th>87</th>
      <td>FASE</td>
      <td>1</td>
    </tr>
    <tr>
      <th>88</th>
      <td>MLMI@MICCAI</td>
      <td>1</td>
    </tr>
    <tr>
      <th>89</th>
      <td>IEICE Transactions</td>
      <td>1</td>
    </tr>
    <tr>
      <th>90</th>
      <td>MICCAI</td>
      <td>1</td>
    </tr>
    <tr>
      <th>91</th>
      <td>ICLR 2019</td>
      <td>1</td>
    </tr>
    <tr>
      <th>92</th>
      <td>IPMI</td>
      <td>1</td>
    </tr>
  </tbody>
</table>