body {
  font-size: 0.7rem;
}

.btn-link {
  background: none;
  border: none;
  color: #807fe2;
  cursor: pointer;
  padding: 0;
}

.btn-link:hover {
  text-decoration: underline;
}

/* Header */
header {
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1rem;
}
.nav-btn {
  margin-right: 1rem;
}

header .form-group:not(:last-child) {
  margin-bottom: 0;
  margin-right: 1rem;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.navbar-brand span {
  font-size: 1rem;
}

.logout-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: block;
  margin: 0 -0.4rem;
  padding: 0.2rem 0.4rem;
  text-align: left;
  width: 100%;
}

.logout-btn:hover,
.logout-btn:focus {
  background: #f1f1fc;
  color: #5755d9;
}

/* Login & Register Pages */

.auth-btn {
  margin-top: 0.8rem;
}

.login-error {
  font-size: 0.9rem;
  margin-top: 1rem;
}

/* Main Page */
main {
  margin-top: 90px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.tabs {
  width: 10rem;
}

.page-controls span {
  margin: 0 1rem;
}

.page-controls button {
  background: none;
  border: none;
  cursor: pointer;
  color: #4b48d6;
}

.page-controls button:not(:disabled):hover {
  background-color: lightgrey;
}

.page-controls button:disabled {
  cursor: auto;
  color: grey;
}

.article {
  margin-top: 1rem;
}

.article .form-group {
  margin-left: auto;
}

.article .controls {
  margin-bottom: 10px;
}

.article .controls button:first-child {
  margin-right: 10px;
}

.card {
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  padding: 1rem;
  border: 0;
}

.publish_date {
  margin-right: 1rem;
}

.metadata {
  padding-bottom: 10px;
}

.loading-lg {
  margin-top: 5rem;
}

.loading.loading-lg::after {
  height: 2.6rem;
  margin: -1.3rem 0 0 1.3rem;
  width: 2.6rem;
}

/* Account Page */

.account-wrapper h5 {
  margin-top: 1rem;
}

.account-wrapper .column {
  margin-bottom: 1rem;
}

.leave-btn {
  margin-left: auto;
}

/* Project Card */
.project {
  margin-bottom: 2rem;
}

.project .card-body {
  display: flex;
}

.project .card-content {
  text-align: center;
  flex: 1;
}

.max-height-list {
  height: 200px;
  overflow-y: scroll;
  list-style-type: none;
}

.max-height-list li {
  text-decoration: none;
}

.project h5 {
  text-align: center;
}

.project .card-footer {
  display: flex;
  justify-content: flex-end;
}

.project .card-footer button {
  border: none;
  margin-left: auto;
}

.remove {
  background-color: none;
  border: 1px solid black;
  margin-left: 10px;
  cursor: pointer;
}

.form-group.project-controls {
  margin-bottom: 50px;
}

.accordion {
  cursor: pointer;
}

.accordion .accordion-header {
  padding: 0.2rem 0;
}

.sticky-wrapper {
  position: relative;
  height: 44px;
  z-index: 1;
}

.sticky .sticky-inner {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px 10px 5px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}

.sticky-inner .space-between {
  max-width: 960px;
}
