{% extends "template.html" %} {% block title %}Home{% endblock %} {% block
content %}
<div id="banner">
  <div class="btn-group btn-group-block" id="pagebar">
    <a href="/" class="btn {{ 'active' if tab == 'articles' }}">
      <div class="pagelink" id="tabart" class="btn">Articles</div>
    </a>
    {% if project %}
    <a href="/library" class="btn {{ 'active' if tab == 'library' }}">
      <div class="pagelink" id="tablib">Library</div>
    </a>
    {% endif %}
  </div>
</div>
{% for article in articles['items'] %}
<div class="article card" id="{{ article.id }}">
  {% if project %} {% if project in article.projects %}
  <i
    onclick="toggleLibray(this, '{{ article.id }}')"
    class="fas fa-bookmark"
  ></i>
  {% else %}
  <i
    onclick="toggleLibray(this, '{{ article.id }}')"
    class="far fa-bookmark"
  ></i>
  {% endif %} {% endif %}
  <a href="{{ article.url }}" target="_blank"><h5>{{ article.title }}</h5></a>
  <div id="authors">
    {% for author in article.authors[:-1] %}
    <a href="#">{{ author.name }}</a>&nbsp;, {% endfor %}
    <a href="#">{{ article.authors[-1].name }}</a>
  </div>
  <div class="metadata">
    <span class="publish_date"
      >{{ article.publish_date.strftime('%m/%d/%Y') }}</span
    >
    {% if article.version1 %}
    <span class="publish_date version1_date">
      <a href="{{ article.version1.url }}" target="_blank">
        (v1: {{ article.version1.publish_date.strftime('%m/%d/%Y') }})
      </a>
    </span>
    {% endif %} {% for category in article.categories[:-1] %}
    <a href="#">{{ category.name }}</a>&nbsp;| {% endfor %}
    <a href="#">{{ article.categories[-1].name }}</a>
  </div>
  <p>{{ article.summary }}</p>
</div>
{% endfor %}
<div id="prev_next">
  {% if articles['has_prev'] %}
  <a href="{{ url_for('site.intmain', page=articles['prev_page']) }}"
    >&lt;&lt; Newer Articles</a
  >
  {% else %} &lt;&lt; Newer Articles{% endif %} | {% if articles['has_next'] %}
  <a href="{{ url_for('site.intmain', page=articles['next_page']) }}"
    >Older Articles &gt;&gt;</a
  >
  {% else %} Older Articles &gt;&gt; {% endif %}
  <div id="total">{{ articles['total'] }} articles total</div>
</div>
<script>
  function toggleLibray(el, id) {
    $.post("{{ url_for('site.toggle_in_library') }}", { id }).done(() => {
      const $icon = $(el);
      const tab = {{ tab | tojson }};
      const $article = $(`#${id}`);
      if (tab === "library") {
        const $total = $('#total');
        let content = $total.html().split(' ');
        content[0] = content[0] - 1;
        content = content.join(' ');
        $total.html(content);
        $article.remove();
      }
      if ($icon.hasClass('fas')) return $icon.removeClass('fas').addClass('far');
      if ($icon.hasClass('far')) return $icon.removeClass('far').addClass('fas');
    });
  }
</script>
{% endblock %}
