<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <title>{% block title %}{% endblock %} - POLAR</title>
    <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/cdf1bdbea6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="navbar container grid-xl">
        <section class="navbar-section">
          <a href="{{ url_for('site.intmain') }}" class="navbar-brand mr-10"
            >POLAR <span>Research Tool</span></a
          >
        </section>
        <section class="navbar-section">
          {% if current_user.is_authenticated %}
          <div class="form-group">
            Selected Project:
            <label class="form-inline">
              <select class="form-select" id="project-select">
                <option value="none">None</option>
                {% for project in current_user.projects %} {% if
                session['selected-project'] == project.name %}
                <option selected value="{{ project.name }}"
                  >{{ project.name }}</option
                >
                {% else %}
                <option>{{ project.name }}</option>
                {% endif %} {% endfor %}
              </select>
            </label>
          </div>
          <div class="dropdown">
            <a href="#" class="btn dropdown-toggle" tabindex="0">
              {{current_user.username}} &#9660;
            </a>
            <ul class="menu">
              <li class="menu-item">
                <a href="{{url_for('auth.account')}}">
                  My Account
                </a>
              </li>
              <li class="menu-item">
                <a href="{{url_for('auth.logout')}}">
                  Logout
                </a>
              </li>
            </ul>
          </div>
          {% else %}
          <a
            href="{{ url_for('auth.login_get') }}"
            class="btn text-large nav-btn"
            >Login</a
          >
          <a href="{{ url_for('auth.register_get') }}" class="btn text-large"
            >Register</a
          >
          {% endif %}
        </section>
      </div>
    </header>
    <div class="container grid-lg">
      {% block content %}{% endblock %}
    </div>
    <script>
      $("#project-select").on("change", function (e) {
        $.post("{{ url_for('site.select_project') }}", {
          selection: e.target.value,
        }).done(function () {
          window.location.href = window.location.pathname;
        });
      });
    </script>
  </body>
</html>
